{% extends "base.html" %}

{% block content %}
<div class="shadow p-3 mb-5 bg-body rounded">
    <h1>Dashboard</h1>
    <p>Welcome, {{ client_info.full_name }}!</p>

    <h2>Profile Information</h2>
    {% if client_info %}
        <p>Full Name: {{ client_info.full_name }}</p>
        <p>Address 1: {{ client_info.address_1 }}</p>
        <p>Address 2: {{ client_info.address_2 }}</p>
        <p>City: {{ client_info.city }}</p>
        <p>State: {{ client_info.state }}</p>
        <p>Zipcode: {{ client_info.zipcode }}</p>

        <h2>Edit Profile Information</h2>
        <form method="POST">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            {{ form.full_name.label }} {{ form.full_name }}
            {{ form.address_1.label }} {{ form.address_1 }}
            {{ form.address_2.label }} {{ form.address_2 }}
            {{ form.city.label }} {{ form.city }}
            {{ form.state.label }} {{ form.state }}
            {{ form.zipcode.label }} {{ form.zipcode }}
            {{ form.submit }}
        </form>
    {% else %}
        <p>No profile information available.</p>
    {% endif %}
{% endblock %}