{% extends 'base.html' %}

{% block content %}
<div class="shadow p-3 mb-5 bg-body rounded">
  <form method="POST">
    {{ form.hidden_tag() }}
    <table class="table">
      <thead>
        <tr>
          <th>Gallons Requested</th>
          <th>Delivery Address</th>
          <th>Delivery Date</th>
          <th>Suggested Price</th>
          <th>Total Amount Due</th>
        </tr>
      </thead>
      <tbody>
        {% for quote in fuel_quotes %}
        <tr>
          <td>{{ quote.gallons_requested }}</td>
          <td>{{ quote.delivery_address }}</td>
          <td>{{ quote.delivery_date.strftime("%Y-%m-%d") }}</td>
          <td>{{ quote.suggested_price }}</td>
          <td>{{ quote.total_amount_due }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
</div>
{% endblock %}