{% extends 'base.html' %}

{% block content %}
<div class="shadow p-3 mb-5 bg-body rounded">
        <form method="POST">
            {{ form.hidden_tag() }}
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Gallons Requested</th>
                    <th scope="col">Delivery Address</th>
                    <th scope="col">Delivery Date</th>
                    <th scope="col">Suggested Price / gallon</th>
                    <th scope="col">Total Amount Due</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">02/16/2023 5:10pm</th>
                    <td>2</td>
                    <td>Center Street</td>
                    <td>03/01/2023</td>
                    <td>$3.00</td>
                    <td>$3.00</td>
                  </tr>
                  <tr>
                    <th scope="row">02/16/2023 5:10pm</th>
                    <td>2</td>
                    <td>Center Street</td>
                    <td>03/01/2023</td>
                    <td>$3.00</td>
                    <td>$3.00</td>
                  </tr>
                  <tr>
                    <th scope="row">02/16/2023 5:10pm</th>
                    <td>2</td>
                    <td>Center Street</td>
                    <td>03/01/2023</td>
                    <td>$3.00</td>
                    <td>$3.00</td>
                  </tr>
                </tbody>
              </table>
        </form>
</div>
{% endblock %}