<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('views.home') }}">Dummy Fuel Quotes App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('views.signup')}}">Register</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('views.profile_management')}}">Profile</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('views.fuel_quote_form')}}">Quote Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('views.fuel_quote_history')}}">Quote History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('views.signout')}}">Log Out</a>
          </li>
      </ul>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
    </div>
  </div>
</nav>
